
<div class="auth-main">
    <div class="auth-bg"></div>
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="card my-4 shadow-lg rounded-lg border-0">
          <div class="card-body px-3 py-4">
            <div class="auth-header text-center mb-3">
              <a href="javascript:">
                <img src="assets/images/logo-dark.gif" alt="logo" />
              </a>
            </div>
  
            <h3 class="text-center mb-3"><strong>Forgot Password</strong></h3>
  
            <!-- Alert Section -->
            <div *ngIf="alertMessage" class="alert" [ngClass]="{'alert-success': isSuccess, 'alert-danger': !isSuccess}">
              {{ alertMessage }}
              <button type="button" class="close" aria-label="Close" (click)="resetAlert()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
  
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                    <label class="form-label" for="email">Email Address*</label>
                    <input
                      type="email"
                      formControlName="email"
                      class="form-control shadow-sm"
                      id="email"
                      placeholder="Enter your email"
                      [ngClass]="{'is-invalid': isFieldInvalid('email')}"
                    />
                    
                    <!-- Dynamic Error Messages -->
                    <div *ngIf="isFieldInvalid('email')">
                      <small class="error" *ngFor="let error of getErrorMessages('email')">
                        {{ error }}
                      </small>
                    </div>
                  </div>
                  
  
              <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary shadow" [disabled]="forgotPasswordForm.invalid">
                  Send Reset Link
                </button>
              </div>
  
              <p class="text-center mt-3">
                Remember your password?
                <a [routerLink]="['/login']" class="text-primary">Login</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  